[Unit]
Description = Service for launching moonlight streams in OSMC on Raspberry Pi 2 Model B
Conflicts = mediacenter.service

[Service]
Type = simple
ExecStartPre = /sbin/modprobe snd_bcm2836
ExecStart = /usr/bin/moonlight-osmc %i
ExecStopPost = /sbin/rmmod snd_bcm2836
ExecStopPost = /bin/systemctl restart mediacenter

[Install]
WantedBy = multi-user.target
